.beer-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
  max-width: 40rem;
  margin: 0 auto;
  transition: scale 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: #f8f8f8;
    scale: 1.015;
  }

  &__image {
    width: 6rem;
    object-fit: contain;
    align-self: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__title {
    align-self: flex-start;
  }

  &__description {
    color: #3e3e3e;
    text-align: justify;
  }

  &__content-and-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }
}
